<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   Les paramètres de l'application utilisateur et de propriété configurée se placent ici.-->
		<!--   Exemple : <add key="settingName" value="settingValue"/> -->
		<add key="lvwTable.Scrollable" value="True" />
	</appSettings>
	<connectionStrings>
		<add name="ConString" connectionString="Data Source=.\;Initial Catalog=TrailDb;Integrated Security=false;User Id=sa;Password=sadev150;"
				providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>